.HomeContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}
.App input {
  padding: 7px;
  border-color: blue;
  background-color: #ffffff;
  font-weight: bolder;
  font-size: large;
  margin-right: 5px;
}
.tasksContainer {
  background-color: red;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  width: 50%;
  border: 3px solid rgb(199, 212, 199);
  border-radius: 50px;
}
.tasksContainer p {
  background-color: white;
  border-radius: 20px;
  padding: 19px;
}
.Footer {
  background-color: greenyellow;
  text-decoration: none;
  list-style: none;
  margin-top: auto;
}
.Footer a {
  text-decoration: none;
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
